## Created by Andrey Markelov 28-10-2012.
## Copyright Mail.Ru Group 2012. All rights reserved.
<div id="errorpart" name="errorpart"></div>
<form class="aui" id="configureform" name="configureform">
    <input type="hidden" name="atl_token" value="$atl_token"/>
    <input type="hidden" name="cfKey" value="$cfKey"/>
    <div class="field-group">
        <label for="regexclause">$i18n.getText("uniqueregex.regex")</label>
        <input type="text" id="regexclause" name="regexclause" #if($cfData.getRegex())value="$cfData.getRegex()"#end/>
    </div>
    <div class="field-group">
        <label for="jqlclause">$i18n.getText("uniqueregex.jql")</label>
        <textarea rows="5" cols="30" id="jqlclause" name="jqlclause">#if($cfData.getJql())$cfData.getJql()#end</textarea>
    </div>
    <div class="field-group">
        <label for="targetcf">$i18n.getText("uniqueregex.targetfield")</label>
        <select id="targetcf" name="targetcf">
            #foreach($cf in $cfs.entrySet())
            <option #if($cf.key == $cfData.getTargetCf())selected="selected"#end value="$cf.key">$cf.value</option>
            #end
        </select>
    </div>
</form>