<html>
<head>
    <title>$action.getTitle()</title>
    <meta content="admin" name="decorator"/>
    <meta content="admin_plugins_menu/unique-regex-configuration-section" name="admin.active.section">
    <meta content="unique-regex-configuration-settings" name="admin.active.tab">
    $webResourceManager.requireResource("jira.webresources:global-static")
    $webResourceManager.requireResource("jira.webresources:jira-global")
    $webResourceManager.requireResource("com.atlassian.auiplugin:ajs")
</head>
<body class="aui">
<section id="content" role="main">
    <header class="aui-page-header">
        <div class="aui-page-header-inner">
            <div class="aui-page-header-main">
                <h1>$i18n.getText("ru.andreymarkelov.atlas.plugins.uniqueregexfield.tester.title")</h1>
                <p>$i18n.getText("ru.andreymarkelov.atlas.plugins.uniqueregexfield.tester.descr")</p>
            </div>
        </div>
    </header>
    <div class="aui-page-panel">
        <div class="aui-page-panel-inner">
            <section class="aui-page-panel-content">
                <form action="UniqueRegexTester.jspa" method="post" class="aui">
                    <input type="hidden" name="atl_token" value="${atl_token}"/>
                    <div class="field-group">
                        <label for="regexclause">$i18n.getText("ru.andreymarkelov.atlas.plugins.uniqueregexfield.field.regex")</label>
                        <input class="text" type="text" id="regexclause" name="regexclause" value="$!{regexclause}"/>
                        #if($action.getErrors().containsKey("regexclause"))<div class="error">$action.getErrors().get("regexclause")</div>#end
                        <div class="description">$i18n.getText("ru.andreymarkelov.atlas.plugins.uniqueregexfield.field.regex.desc")</div>
                    </div>
                    <div class="field-group">
                        <label for="regexerror">$i18n.getText("ru.andreymarkelov.atlas.plugins.uniqueregexfield.field.regexerror")</label>
                        <textarea class="textarea" rows="5" cols="30" id="regexerror" name="regexerror">$!regexerror</textarea>
                        #if($action.getErrors().containsKey("regexerror"))
                            <div class="error">$action.getErrors().get("regexerror")</div>
                        #end
                        <div class="description">$i18n.getText("ru.andreymarkelov.atlas.plugins.uniqueregexfield.field.regexerror.desc")</div>
                    </div>
                    <div class="buttons-container">
                        <div class="buttons">
                            <input class="button submit" type="submit" value='$i18n.getText("ru.andreymarkelov.atlas.plugins.uniqueregexfield.field.save")'/>
                        </div>
                    </div>
                </form>
            </section>
        </div>
    </div>
</section>
</body>
</html>
